/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
